 .landing-div-all{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: black;
    background-size: cover;
  }
@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}
.neon {
  font-family: neon;
  color: #FB4264;
  font-size: 9vw;
  line-height: 9vw;
  text-shadow: 0 0 3vw #F40A35;
}
.flux {
  font-family: neon;
  color: #426DFB;
  font-size: 9vw;
  line-height: 9vw;
  text-shadow: 0 0 3vw #2356FF;
}
.neon {
  animation: neon 2s ease infinite;
  -moz-animation: neon 2s ease infinite;
  -webkit-animation: neon 2s ease infinite;
}
@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #B900FF, 0 0 3vw #8800BB, 0 0 10vw #8800BB, 0 0 10vw #8800BB, 0 0 .4vw #D300BA, .5vw .5vw .1vw #630188;
    color: #D300BA;
  }
  50% {
    text-shadow: 0 0 .5vw #5F0185, 0 0 1.5vw #5F0185, 0 0 5vw #5F0185, 0 0 5vw #5F0185, 0 0 .2vw #5F0185, .5vw .5vw .1vw #8500BB;
    color: #8500BB;
  }
}
.flux {
  animation: flux 2s linear infinite;
  -moz-animation: flux 2s linear infinite;
  -webkit-animation: flux 2s linear infinite;
  -o-animation: flux 2s linear infinite;
}

@keyframes flux {
  0%,
  100% {
    text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
    color: #28D7FE;
  }
  50% {
    text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
    color: #146C80;
  }
}

.landing-h2{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 920px) {
  .landing-div-all{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .neon {
    font-family: neon;
    color: #FB4264;
    font-size: 13vw;
    margin-bottom: 2vw;
    text-shadow: 0 0 3vw #F40A35;
  }
  .flux {
    font-family: neon;
    color: #426DFB;
    font-size:13vw;
margin-top: 2vw;
    text-shadow: 0 0 3vw #2356FF;
  }
}
