 .landing-div-all{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: black;
    background-size: cover;
  }
@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}
.neon {
  font-family: neon;
  color: #FB4264;
  font-size: 9vw;
  line-height: 9vw;
  text-shadow: 0 0 3vw #F40A35;
}
.flux {
  font-family: neon;
  color: #426DFB;
  font-size: 9vw;
  line-height: 9vw;
  text-shadow: 0 0 3vw #2356FF;
}
.neon {
  animation: neon 2s ease infinite;
  -moz-animation: neon 2s ease infinite;
  -webkit-animation: neon 2s ease infinite;
}
@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #B900FF, 0 0 3vw #8800BB, 0 0 10vw #8800BB, 0 0 10vw #8800BB, 0 0 .4vw #D300BA, .5vw .5vw .1vw #630188;
    color: #D300BA;
  }
  50% {
    text-shadow: 0 0 .5vw #5F0185, 0 0 1.5vw #5F0185, 0 0 5vw #5F0185, 0 0 5vw #5F0185, 0 0 .2vw #5F0185, .5vw .5vw .1vw #8500BB;
    color: #8500BB;
  }
}
.flux {
  animation: flux 2s linear infinite;
  -moz-animation: flux 2s linear infinite;
  -webkit-animation: flux 2s linear infinite;
  -o-animation: flux 2s linear infinite;
}

@keyframes flux {
  0%,
  100% {
    text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
    color: #28D7FE;
  }
  50% {
    text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
    color: #146C80;
  }
}

.landing-h2{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*
.landing-h2 > h2{
   height: 100%;
   display: flex;
   flex-direction: row;
   color: black; 
   font-size: 40px;
   font-family: 'Bangers', cursive;
   font-family: 'Orbitron', sans-serif;
   letter-spacing: 2px;
   text-align: center;
   align-items: center;
   margin-bottom: 1vh;
}
.landing-image{
    height: 60vw;
    width: 55vw;
    background-image: url('https://i.insider.com/5de8391cfd9db20b357952c4?width=1200&format=jpeg');
    background-size: cover;
} */