
:root {
    
    --neon-border-color: #b117ee;
  }
  
  body {
    display: flex;
    background: #000;

  }
  
  .filters-box {
    background-color: white;
    color: #fff;
    padding: 2rem 3rem 2.5rem;
    border: 0.4rem solid #fff;
    border-radius: 2rem;
    text-transform: uppercase;
    animation: flicker 1.5s infinite alternate;
    width: 37vw;
    height: 50vh;  
    display: flex;   
    flex-direction: column;
    align-items: center;
  }
  .filters-box div{
    width: 30vw;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
  }
  .filters-menu{
    width: 10vw;
  }
  .filter-button{
    background-color: #b117ee;
    width: 120px;
    height: 7vh;
    color: white;
    border-radius: 8px;
    margin-top: 2vh;
    min-width: 100px;
    font-family: 'Bangers', cursive;
    font-size: 20px;
    letter-spacing:1px;
  }

  /* Animate neon flicker */
  @keyframes flicker {
      
      0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
        
          
          box-shadow:
              0 0 .5rem #fff,
              inset 0 0 .5rem #fff,
              0 0 2rem var(--neon-border-color),
              inset 0 0 2rem var(--neon-border-color),
              0 0 4rem var(--neon-border-color),
              inset 0 0 4rem var(--neon-border-color);        
      }
      
      20%, 24%, 55% {        
          text-shadow: none;
          box-shadow: none;
      }    
  }
  @media (max-width:1000px) {
    .filters-box {
      background-color: white;
      color: #fff;
      padding: 2rem 3rem 2.5rem;
      border: 0.4rem solid #fff;
      border-radius: 2rem;
      text-transform: uppercase;
      animation: flicker 1.5s infinite alternate;
      width: 70vw;
      min-width: 250px;
      height: 50vh;  
      display: flex;   
      flex-direction: column;
      align-items: center;
      margin-bottom: 2vw;
      padding: 10px;
    }
    .filters-box div {
      min-width: 150px
    }
  }
