.displayer-div{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.displayer-box{
    height: 90vh;
    width: 100vw;
    display: flex;
    background-image: url('https://giffiles.alphacoders.com/211/211931.gif');
    background-size: cover;
}
.displayer-filters{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 2vh;
}