.displayer-div{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.displayer-box{
    height: 90vh;
    width: 100vw;
    display: flex;
    background-image: url('https://giffiles.alphacoders.com/211/211931.gif');
    background-size: cover;
}
.displayer-filters{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
}
.displayer-pagination {
    display: flex;
    color: white;
    font-size: 50px;
}
.displayer-pagination p{
    margin-left: 6px;
    margin-right: 6px;
}
.displayer-pagination p:hover{
cursor: pointer;
}
@media (max-width:1000px) {
    .displayer-div{
        width: 100%;
        height: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-top: 3vw;
       
        min-width: 100vw;
    }
    .displayer-filters{
        width: 0px;
    }
    .displayer-box{
        height: 100%;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }
    .displayer-popup{
        display: flex;
        width: 100%;
        height: 100%;
    }
    button{
        background-color: white;
    }
    .displayer-pagination p{
        color: white;
        font-size: 60px;
    }
    .displayer-pagination {
        display: flex;
        align-items: flex-start;
    }
    .displayer-filter{
        color: white;
        font-size: 20px;
        background-color: #8E00C4;
        padding: 10px;
        width: 120px;
        border-radius: 8px;
        margin-bottom: 15px;
    }
}
