.displayerform-box{
    height: 15vh;
    width: 45vw;
    min-width: 600px;
    min-height: 90px;
    border-style: none;
    border-width: 3px;
    margin: 1vw;
    padding: 9px;
    border-radius: 8px;
    background-color: #8E00C4;
    display: flex;
}
.displayerform-div{
    align-items: center;
    display: flex;
}
.displayerform-name{
    font-family: 'Bangers', cursive;
    font-size: 25px;
    text-align: start;
    color: white;
}

.displayerform-platforms{
    display: flex;
    overflow: hidden;
white-space: nowrap;
}
.displayerform-platforms h3{
    font-family: 'Bangers', cursive;
    text-align: start;
    font-size: 17px;
    margin-left: 3px;
    margin-right: 7px;
    align-items: center;
    color: white;
}
.displayerform-platforms p{
    width: 300px;
    min-width: 300px;
    overflow:hidden;
white-space: nowrap;
text-overflow: ellipsis;
color: white;
}
.displayerform-rating h3{
    font-family: 'Bangers', cursive;
    text-align: start;
    font-size: 17px;
    margin-left: 3px;
    margin-right: 7px;
    align-items: center;
    color: white;
}
.displayerform-rating p{
    color: white;
}
.displayerform-rating{
    display: flex;
}
.displayerform-image{
    
    height: 11vh;
    width: 13vw;
    min-width: 160px;
    border-radius: 8px;
   width: 60%;
}
.displayerform-image-width{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 

.displayerform-div> div >div{
    display: flex;
    
}
.displayerform-div> div >div>h3{
    font-family: 'Bangers', cursive;
    text-align: start;
    font-size: 17px;
    margin-left: 3px;
    align-items: center;
}
.displayerform-div>div >div>p{
    margin-left:10px;
    font-size: 15px;
    overflow: hidden;
white-space: nowrap;
width: 350px;
}

.displayerform-div>div >div>h4{
   text-align: start;
   margin-left: 10px;
   font-size: 15px;
}


 */
