.displayerform-box{
    height: 15vh;
    width: 45vw;
    min-width: 610px;
    min-height: 90px;
    border-style: none;
    border-width: 3px;
    margin: 1vw;
    padding: 9px;
    border-radius: 8px;
    background-color: #8E00C4;
    display: flex;
}
.displayerform-box:hover{
        cursor: pointer;
    transform: scale(1.02);
}
.displayerform-div{
    align-items: center;
    display: flex;
}
.displayerform-name h2{
    font-family: 'Bangers', cursive;
    font-size: 25px;
    width:  380px;
    text-align: start;
    color: white;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.displayerform-platforms{
    display: flex;
    overflow: hidden;
white-space: nowrap;
}
.displayerform-platforms h3{
    font-weight:bold;
    text-align: start;
    font-size: 17px;
    margin-left: 3px;
    margin-right: 7px;
    align-items: center;
    color: white;
}
.displayerform-platforms p{
    width: 300px;
    min-width: 300px;
    overflow:hidden;
white-space: nowrap;
text-overflow: ellipsis;
color: white;
}
.displayerform-rating h3{
    font-weight:bold;
    text-align: start;
    font-size: 17px;
    margin-left: 3px;
    margin-right: 7px;
    align-items: center;
    color: white;
}
.displayerform-rating p{
    color: white;
}
.displayerform-rating{
    display: flex;
}
.displayerform-image{
    height: 11vh;
    width: 13vw;
    min-width: 160px;
    border-radius: 8px;
   width: 60%;
}
.displayerform-image-width{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:1000px) {
    .displayerform-box{
        height: 20vh;
        width: 40vw;
        min-width: 270px;
        min-height: 180px;
        border-style: none;
        border-width: 3px;
        margin: 1vw;
        padding: 9px;
        border-radius: 8px;
        background-color: #8E00C4;
        display: flex;
        justify-content: center;

    }
    .displayerform-div{
        min-width: none;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .displayerform-name h2{
    max-width: 250px;
    text-overflow: ellipsis;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;   
 }
    .displayerform-name{
        width: 100%;
    }
    .displayerform-rating {
        width: 100%;
       
        justify-content: center;
        color: white;
    }
    .displayerform-image-width{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}