.searchbar-div{
    display: flex;
    height: 100%;
    width: 300px;
    align-items: center;
    padding: 2vw;
}
.searchbar-input{
    background-color: white;
    border-radius: 8px;
}
.searchbar-div div:hover{
    cursor: pointer;
    transform: scale(1.1);
}
@media (max-width:1000px) {
    .searchbar-div{
        display: flex;
        height: 100%;
        width: 220px;
        align-items: center;
        padding: 2vw;
    }
}
